.thumbnail {
    width: 200px;
	height: 200px;
}
 
.thumbnail a img {
    opacity: 0.6;
    border: none;
    -ms-filter: "prodig:DXImageTransform.Microsoft.Alpha(Opacity=25)"; 
    filter: alpha(opacity = 25);
    -webkit-transition: opacity 0.5s ease-in-out;
    -moz-transition: opacity 0.5s ease-in-out;
    -o-transition: opacity 0.5s ease-in-out;
    transition: opacity 0.5s ease-in-out;
 
}
 
.thumbnail a:hover img, #images a:focus img {
    opacity: 1.0;
    -ms-filter:"prodig:DXImageTransform.Microsoft.Alpha(Opacity=90)";
    filter: alpha(opacity = 90);
}