---
layout: default
---

<div class="home">

{% include lightbox-single.html img="ptimulus.jpg" thumb="ptimulus-thumb.png" imagefolder="/img/" title="Une photo prise par Ptimulus 1" %}

<h2 id="le-projet">Ptimulus : le projet</h2>
<p>Le projet Ptimulus est né en décembre 2013. Nous voulions nous lancer dans un projet original à mener sur notre temps libre. L’idée était de trouver un projet intéressant, fun, inédit, qui nous changerait des projets informatiques de notre environnement professionnel, mais dans lequel nous pourrions tout de même mettre à profit notre expérience professionnelle et personnelle.
Nous nous sommes assez rapidement mis d’accord pour monter un projet de ballon sonde amateur, dans le but de faire des photos depuis la stratosphère, sur lesquelles on verrait la courbure de la Terre et le noir absolu de l’espace.
Nous nous sommes également tout de suite imposé de respecter la reglementation aérienne et de demander toutes les autorisations nécessaires à notre projet. </p>

<h2 id="le-ballon">Le ballon</h2>
<p>Le ballon est un ballon en latex, gonflé à l’hélium, qui emporte une chaine de vol composée de plusieurs éléments : un parachute, un réflecteur radar et une nacelle.
La nacelle embarque 2 téléphones sous Android, qui prennent des photos à intervales réguliers, enregistrent les données fournies par leurs capteurs au cours du vol (position, altitude, accélération et champ magnétique) et qui envoient par SMS leur position lorsqu’ils captent le réseau GSM.
Le principe du vol est simple : le ballon monte jusqu’à exploser, puis la chaine de vol retombe, ralentie par le parachute. Nous visions une altitude de 30000m, et le vol devait durer environ 2h30.</p>

<h2 id="lquipe">L'équipe</h2>
<p>Nous sommes 4 ingénieurs en informatique de Strasbourg et Lyon, de 27 à 28 ans. Nous nous sommes rencontrés pendant nos études et nous nous voyons très régulièrement depuis - la plupart du temps autour d’une bière, il faut bien le dire.</p>



{% include lightbox-single.html img="lequipe.jpg" thumb="lequipe-thumb.png" imagefolder="/img/" title="L'équipe de Ptimulus" %}


</div>
