---
layout: default
---

{% include lightbox-header.html %}

<div class="home">

  <h1 class="page-heading">
  
  <a href="{{site.baseurl}}/img/ptimulus.jpg" data-lightbox="ptimulus" title="Une photo prise par Ptimulus 1">
    <img src="{{site.baseurl}}/img/ptimulus-thumb.jpg">
  </a>
  
  </h1>

	{% for cat in site.category-list %}
		<h2><a href="{{ site.baseurl }}/{{ cat.url }}">{{cat.pretty}}</a></h2>
		<ul>
		{% for page in site.pages %}
			{% for pc in page.categories %}
				{% if pc == cat.url %}
				<li><a href="{{ site.baseurl }}{{ page.url }}">{{ page.title }}</a></li>
				{% endif %}
			{% endfor %}
		{% endfor %}
		</ul>
	{% endfor %}

</div>
