
<div class="lightbox-embedded">
{% if include.thumb %}
<a href="{{ include.imagefolder }}/{{ include.img }}" data-lightbox="{{ include.img }}" title="{{ include.title }}" style="text-align:center">
  <img src="{{ include.imagefolder }}/{{ include.thumb }}" style="max-width:100%; margin: 0 auto;">
</a>
{% else %}
<a href="{{ include.imagefolder }}/{{ include.img }}" data-lightbox="{{ include.img }}" title="{{ include.title }}" style="text-align:center">
  <img src="{{ include.imagefolder }}/{{ include.img }}" style="max-width:100%; margin: 0 auto;">
</a>
{% endif %}
{% if include.title %}
{{ include.title }}
{% endif %}
</div>
