---
layout: page
---

{% include lightbox-header.html %}

{% for gallery in site.data.galleries %}
  {% if gallery.id == page.galleryid %}
    <ol>
    {% for image in gallery.images %}
      <div style='float:left;margin: 7px;' class='thumbnail'>
        <a href="{{ gallery.imagefolder }}/{{ image.name }}" data-lightbox="{{ gallery.id }}" title="{{ image.text }}">
          <img src="{{ gallery.imagefolder }}/{{ image.thumb }}">
        </a>
      </div>
    {% endfor %}
    </ol>
  {% endif %}
{% endfor %}
