---
layout: default
---

<div class="page">
  <h4 class="page-title">
  
  {% assign pages = site.pages | sort:"path"  %}
  
  <!-- Display page section with URL -->
  {% if page.section %}
    {% capture section_permalink %}/{{ page.section }}/{% endcapture %}
    {% for site_page in pages %}
	  {% if site_page.permalink == section_permalink %}
	    <a href="{{ site_page.permalink }}">{{ site_page.title }}</a> > 
	  {% endif %}
	{% endfor %}
  {% endif %}
  
  <!-- Display page subsection with URL -->
  {% if page.subsection %}
    {% capture section_permalink %}/{{ page.section }}/{{ page.subsection }}/{% endcapture %}
    {% for site_page in pages %}
	  {% if site_page.permalink == section_permalink %}
	    <a href="{{ site_page.permalink }}">{{ site_page.title }}</a> > 
	  {% endif %}
	{% endfor %}
  {% endif %}
  
  {{ page.title }}
  </h4>
  <hr>
  {{ content }}
</div>
