---
layout: default
---

<div class="page">
  <h4 class="page-title">
  
  {% assign pages = site.pages | sort:"path"  %}
  
  <!-- Display page section (no URL) -->
  {% if page.section %}
    {% for category in site.category-list %}
	    {% if category.url == page.section %}
	      {{ category.pretty }} > 
	    {% endif %}
	  {% endfor %}
  {% endif %}
  
  <!-- Display page subsection with URL -->
  {% if page.subsection %}
    {% capture section_permalink %}/{{ page.section }}/{{ page.subsection }}/{% endcapture %}
    {% for site_page in pages %}
	    {% if site_page.permalink == section_permalink %}
	      <a href="{{ site_page.permalink }}">{{ site_page.title }}</a> > 
	    {% endif %}
	  {% endfor %}
  {% endif %}
  
  {% if page.title_key %}
    {% capture full_title_key %}title.{{ page.title_key }}{% endcapture %}
    {% t full_title_key %}
  {% else %}
    {{ page.title }}
  {% endif %}
  </h4>
  <hr>
  {{ content }}
</div>
